[Desktop Entry]
Name=Dwarf Fortress
GenericName=Dwarf Fortress
Comment=A single-player fantasy game.
Exec=dwarffortress
Icon=dwarffortress
Terminal=false
Type=Application
Categories=Game;
StartupWMClass=Dwarf_Fortress
